.cart-card {
    margin: 32px;
    min-height: 400px;
    height: 100%;
}

.product-thumb {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-top: 0 !important;
}

.mat-card-image {
    margin: 0 !important
}

.cart-item {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    height: 50px;
}