.products-viewport {
  height: calc(100vh - 150px);
  position: relative;
}

.loader {
  position: sticky;
  bottom: 0;
  left: 45%
}

.product-card {
  height: 350px;
  width: 400px;
  position: relative;
  margin: 8px auto;
  cursor: pointer;
}

.product-image {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin: auto;
}

.sale-tag {
  position: absolute;
  top: -8px;
  left: -8px;

}

.sale-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.sale-text {
  font-size: 10px;
  position: absolute;
  left: 15px;
  top: 19px;
  rotate: 45deg;
  font-weight: 500;
}