<mat-form-field appearance="fill">
  <mat-label>Search Products</mat-label>
  <input
    #searchTerm
    matInput
    type="text"
    autocomplete="off"
    [formControl]="searchTermControl"
  />
  <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<!-- Using virtual scrolling since we are anticipating a very big number of elements -->
<cdk-virtual-scroll-viewport
  appendOnly
  itemSize="366"
  class="products-viewport"
  (scrolledIndexChange)="scrollEvent()"
>
  <mat-card
    *cdkVirtualFor="let product of productsToDisplay$ | async"
    class="product-card"
    [class.mat-elevation-z8]="product.salePrice"
    [routerLink]="
      product.url
        .substring(product.url.indexOf('/api/') + 5, product.url.length - 1)
        .replace('/', '-')
    "
  >
    <div class="sale-tag" *ngIf="product.salePrice">
      <mat-icon class="sale-icon" color="accent">sell</mat-icon>
      <span class="sale-text">SALE</span>
    </div>

    <mat-card-header class="header">
      <mat-card-title class="title-wrapper">{{ product.name }} </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="product.cost_in_credits !== 'unknown'">
          {{
            product.discount_percent
              ? product.discount_percent + '% off, now only:'
              : ''
          }}
          {{
            (product.salePrice ? product.salePrice : product.cost_in_credits)
              | currency
          }}
        </span>
        <span *ngIf="product.cost_in_credits === 'unknown'">
          unknown price...
        </span></mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      class="product-image"
      [src]="product.image"
      alt="Product image"
    />
    <mat-card-content>
      {{ product.model }}
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="product.cost_in_credits === 'unknown'"
        mat-raised-button
        color="primary"
        (click)="addToCart(product); $event.stopPropagation()"
      >
        Add to cart
      </button>
      <button
        mat-button
        color="primary"
        (click)="removeFromCart(product.url); $event.stopPropagation()"
      >
        Remove from cart
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-spinner
    *ngIf="showLoader$ | async"
    class="loader"
    color="accent"
  ></mat-spinner>
</cdk-virtual-scroll-viewport>
