.products-viewport {
  height: calc(100vh - 150px);
}

.product-card {
  height: 300px;
  width: 400px;
  position: relative;
  margin: 8px auto;
}

.product-image {
  height: 200px;
  width: 200px;
  object-fit: contain;

}