<mat-form-field appearance="fill">
  <mat-label>Search Products</mat-label>
  <input
    #searchTerm
    matInput
    type="text"
    autocomplete="off"
    [formControl]="searchTermControl"
  />
  <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<cdk-virtual-scroll-viewport
  appendOnly
  itemSize="316"
  class="products-viewport"
  (scrolledIndexChange)="scrollEvent()"
>
  <mat-card
    *cdkVirtualFor="let product of productsToDisplay$ | async"
    class="product-card"
    [routerLink]="
      product.url
        .substring(product.url.indexOf('/api/') + 5, product.url.length - 1)
        .replace('/', '-')
    "
  >
    <mat-card-header>
      <mat-card-title
        >{{ product.name }}
        <button
          mat-icon-button
          color="primary"
          (click)="addToCart(product); $event.stopPropagation()"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="removeFromCart(product.url); $event.stopPropagation()"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle
        >{{ product.cost_in_credits }} SALE PRICE !!!!!!!! ={{
          product.salePrice
        }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      class="product-image"
      [src]="product.image"
      alt="Product image"
    />
  </mat-card>
</cdk-virtual-scroll-viewport>
